
html { 
    height: 100% 
 }
 body { 
    margin: 0; 
    padding: 0; 
    height: 100% ;
 }
 .side-drawer { 
    
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    /* width: 30%; */
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    scroll-behavior: inherit;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 800px;
    width: 400px;
 }
 .side-drawer.open {
    transform: translateX(0);
 }